.postContainer {
    max-width: max-content;
    border: 1px solid #e7e8ec;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 0 rgba(0, 0, 0, 0.04), 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 0 rgba(0, 0, 0, 0.04), 0 16px 0 rgba(0, 0, 0, 0.04);
    padding: 12px 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.postContainer > div:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.textitem {
    width: 500px;
    min-height: 80px;
    padding: 8px;
    border: 1px solid #e7e8ec;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
    margin-bottom: 0;
    background-color: transparent;
}

.button {
    background-color: #5181b8;
    max-width: 100px;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.button:hover {
    background-color: #3d6aa8;
}