.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-cards {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(45, 45, 115, 0.58);
    border-radius: 5px;
    width: 200px;
}

.friends-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(70% - 10px);
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body p {
    text-align: center;
}
.AddFriendForm {
    display: flex;
    flex-direction: column;

}
.inputForm textarea {
    width: 200px;
    height: 20px;
}
.inputForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.textitem {
    width: 200px;
    min-height: 50px;
    padding: 8px;
    border: 1px solid #e7e8ec;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
    margin-bottom: 0;
    background-color: transparent;
}

.button {
    background-color: #5181b8;
    height: 40px;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.button:hover {
    background-color: #3d6aa8;
}